@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/* GENERAL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", "sans-serif";
    width: 100%;
}

/* loader */
.spinner {
    width: 100px;
    height: 100px;
    position: relative;
}

.spinner div {
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 8px solid transparent;
    border-top-color: #ad60f5; 
    border-radius: 50%;
    animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
    border: 8px solid transparent;
    border-bottom-color: #ad60f5;
}

@keyframes spinnerOne {
    0% {
        transform: rotate(0deg);
        border-width: 10px;
    }
    50% {
        transform: rotate(180deg);
        border-width: 1px;
    }
    100% {
        transform: rotate(360deg);
        border-width: 10px;
    }
}
/* HEADER */

header {
    margin-bottom: 30px;
    font-family: Shrikhand, sans-serif;
    text-align: center;
    box-shadow: 0px 3px 3px 1px grey;
    padding: 7px;
    height: 100px;
}

/* LOCALISATION */

.main {
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position: relative;
    margin-top: -50px;
}

.maps {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.maps-search input {
    border: none;
    background: #eaeaea;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
}

/* PRESENTATION */

.about {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;
}
.about h2 {
    font-weight: bold;
}
.about p {
    color: #4d4d4d;
}

.btn-about button {
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
}
.btn__about button:hover {
    background-color: #ae80e5;
    background-blend-mode: lighten;
    box-shadow: 4px 4px 6px #000;
}

/* FONCTIONNEMENT */

.fonctionnement {
    margin-bottom: 50px;
}
.fonctionnement h2 {
    text-align: center;
    padding: 20px;
}

.fonctionnement-tuiles {
    list-style-type: none;
}

.fonctionnement-tuiles li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 25px;
    margin: 15px 20px 15px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;
}
.fonctionnement-tuiles li p {
    font-weight: 500;
    margin-left: 20px;
}
.fonctionnement-tuiles li:hover {
    background: #f2eafb;
}
.fonctionnement-tuiles li:hover .fas {
    color: #9356dc;
}
.tuiles {
    background-color: #9356dc;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -40px;
}
.icon {
    color: grey;
    font-size: 1.2rem;
    margin-left: 20px;
}

/* RESTAURANT */

.new {
    color: #008766;
    background: #99e2d0;
    border: 5px solid #99e2d0;
    border-radius: 5px;
    position: absolute;
    right: 1%;
    top: 5%;
}

.fill {
    color: black;
    cursor: pointer;
}
.fill:hover {
    animation: fill 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/* to do heart ( regler ce probleme pour la prochaine fois) */

/* FOOTER */

footer {
    font-family: "Shrikhand", "sans-serif";
    padding: 5px 0 20px 0;
    display: block;
    background-color: #353535;
    margin: 0;
    border: 0;
    font-size: 100%;
    padding: 25px;
    color: white;
}

footer a {
    color: white;
}
footer ul {
    list-style-type: none;
    padding: 5px 0 5px 0;
}

footer ul .fa-hands-helping {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

.picture {
    width: 100%;
    height: 400px;
}